

/* slfdsck 플러그인 */
.slick-slider .slick-list {display:block; overflow-x:hidden; overflow-y:hidden; position:relative;}
.slick-slider .slick-list.dragging {cursor:pointer;}
.slick-slider .slick-list .slick-track {display:block; position:relative; top:0; left:0;}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after {display:table;}
.slick-slider .slick-list .slick-track:after {clear:both;}
.slick-slider .slick-list.slick-loading .slick-track {visibility:hidden;}
.slick-slider .slick-list .slick-track .slick-slide {display:none; float:left;}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide {float:right;}
.slick-slider .slick-list .slick-track .slick-slide img {display:inline-block;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img {display:none;}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide {display:block;}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide {visibility:hidden;}
.slick-slider .slick-arrow.slick-hidden {display:none;}

#accessibility-foot {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; font-size:0%;}
#accessibility {overflow:hidden; position:absolute;top:0; width:100%; z-index:1000}
#accessibility a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center}
#accessibility a:focus, #accessibility a:hover, #accessibility a:active {width:auto;height:27px;margin:0;padding:12px 0 0 15px;background:#20262c;font-size:14px;font-weight:700;line-height:1;color:#fff;}

.wrap {position:relative; width:1400px; margin:0 auto;}

#header {position:relative; height:155px; background:#fff;border-bottom:1px solid #c9c9c9; font-family:"Noto Sans KR",sans-serif;font-size:14px; color:#666; font-weight:400;}
#header .header_wrap{position:relative;width:1620px;margin:0 auto;}
.logo {position:absolute; left:20px; top:13px;}
.gnb {position:absolute; right:20px; top:0px;}
.gnb li {position:relative; float:left; padding:0 11px 0 15px; line-height:1.5em;top:10px;}
.gnb li:before {display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#cdcdcd; content:'';}
.gnb li:first-child {padding-left:0;}
.gnb li:first-child:before, .gnb li.goo:before {display:none;}
.gnb li:last-child {padding-right:0px;}
.gnb a {font-size:13px;color:#555;}
.gnb li.goo .goog-te-gadget {border-radius:300px;padding:5px 10px;border:1px solid #ddd;}
.gnb li.goo .goog-te-gadget-simple {background:url('../imageaa/google_icon.png') no-repeat 0;padding: 0px 5px 0 20px;}
.gnb li.goo a.sbt-google{margin:0;padding:5px 30px 7px 40px;font-size:14px;color:#1a2e49;border:1px solid #dadada;border-radius:30px;background:url('../imageaa/google_icon.png') no-repeat 23px;}
.gnb li.goo .language_google{position:relative;margin:0;}
.gnb li.goo .sgoogle_ul{position:absolute;top:27px;left:6px;z-index:10000;background:#fff;border:1px solid #ddd;text-align:center;}
.gnb li.goo .sgoogle_ul li{display:block;float:none;padding:5px 10px;border-top:1px dashed #ddd; text-align: left;top:auto;}
.gnb li.goo .sgoogle_ul li:before{display:none;}
.gnb li.goo .sgoogle_ul li:first-child{border:0;}
.gnb li.goo .sgoogle_ul li a:hover{text-decoration:underline;}
.trs_nation { height: 18px; vertical-align:  middle; margin-right: 4px;}
.sbt-google.mobile:before { content: ""; position: absolute; background: #dedede url(../imageaa/menu1th_off.png) no-repeat 94%; width: 14px; height: 15px; right: 11px; top: 15px; }
.sbt-google.mobile.on:before { transform: rotate(180deg); }

/* google */
.skiptranslate, .goog-te-spinner-pos{display:none !important;}
body{top:0 !important;}

.rank{position:absolute;top:57px;right:340px;}
.rank h2{position:relative;display:inline-block;vertical-align:top;margin-right:8px;font-size:17px;color:#303030;}
.rank_word {display:inline-block;margin-top:1px;width:135px;height:23px;padding-right:30px;overflow:hidden;}
.rank_word ul{position:relative;}
.rank_word li a, .rankAll li a {display:block; height:23px; line-height:23px; font-size:15px;color:#555; text-decoration:none;}
.rank_word li span, .rankAll li span {display:inline-block;width:17px;height:17px;line-height:16px;text-align:center;background:#012f6a; font-family:'Malgun Gothic';font-size:13px;color:#fff;border-radius:3px;margin-right:7px;}
.rank_word .rank_more{position:absolute;top:-1px;right:0;display:block;padding:3px;background: inherit;}
.rankAll{display:none;width:157px;padding:9px 7px 9px 160px;border:1px solid #ddd;border-radius:10px;background:#fff;position:absolute;top:-10px;right:0;z-index:13;}
.rankAll h2{position:absolute;top:9px;left:24px;}

.top_Btn{position:absolute;top:48px;right:20px;}
.top_Btn a#search_open{position:relative;display:inline-block;margin-right:10px;padding:0 60px 0 30px;height:43px;line-height:43px;background:#999 url('../imageaa/search_icon.png') no-repeat 85%;border-radius:30px;font-size:16px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.7);}
.top_Btn a#search_open.on:after{position:absolute;bottom:-14px;right:45px;content:'';display:block;width:0;height:0;border-bottom:11px solid #1454a2;border-left:11px solid transparent;border-right:11px solid transparent;}
.top_Btn a.lang{display:inline-block;padding:0 50px 0 30px;height:43px;line-height:43px;background:#00244f url('../imageaa/blank_icon.png') no-repeat 70%;border-radius:30px;font-size:14px;color:#fff;}
.top_Btn a.lang:focus{outline: 2px solid #ff6640;}

#search{display:none;position:absolute;top:100px;left:0;z-index:12;background:#1454a2;width:100%;padding:40px 0px;}
#search h2{margin:0 0 20px;font-size:35px;color:#fff;font-weight:500;text-align:center;}
#search h2:before{content:'';display:inline-block;width:32px;height:32px;margin-right:24px;vertical-align:-2px;background:url('../imageaa/search_icon.png') no-repeat;}
#search .select{position:relative;width:50%;margin:0 auto;border:0;}
#search input[type="text"] {width:calc(80% - 65px);font-family:'Malgun Gothic';font-size:17px;color:#555; height:55px;padding:0 30px; border:0;border-radius:30px;}
#search .search_btn{position:absolute;right:0;height:55px;width:20%;font-family:'Malgun Gothic';font-size:20px;color:#fff;background:#0e3462;border-radius:30px;}
#search #search_close{position:absolute;top:0;right:15%;display:inline-block;padding:13px 40px 9px 3px;border-bottom:1px solid #fff;font-family:'Malgun Gothic';font-size:15px;color:#fff;background:url('../imageaa/m_close.png') no-repeat 95%;}
#m_search{display:none;}

#lnb {position:absolute; left:0; top:100px; width:100%; border-top:1px solid #919191;z-index:10;}
#top1menu {position:relative;margin-right:55px;}
#top1menu .top2hover {position:relative;float:left; width:14.28%; line-height:1.5em;}
#top1menu .menu1th {display:block; position:relative;z-index:1001; padding:16px 0 22px;min-height:22px; font-size:20px; color:#222; text-align:center; letter-spacing:-0.08em; text-decoration:none; transition:color .3s;}
#top1menu .top2hover.mon .menu1th, #top1menu .menu1th.on, #top1menu .menu1th:hover {color:#0d5aaa;}
#top1menu .menu1th.on span{background:url('../imageaa/nav_onBg.png') repeat-x 0 90%;}
#top1menu .menu1th.on:before{position:absolute;top:27px;left:20%;z-index:-1;content:'';display:block;width:60%;height:10px;background:url('../imageaa/nav_onBg.png') repeat-x;}
#top1menu .top2hover:nth-child(odd) .top2m{background:#f0f5fe;}
#lnb .top2m {display:none; position:absolute; top:55px; left:0; z-index:1000; width:100%;min-height:300px;}
#lnb .top2m ul{padding:15px 0;}
#lnb .top2m li{position:relative;padding:0 0 0 15px;}
#lnb .top2m li:before{position:absolute;top:13px;left:10px;content:'';display:block;width:4px;height:4px;background:#a5a5a5;}
#lnb .top2m li a {display:block; font-family:'Malgun Gothic';font-size:15px;padding:5px; color:#333;transition:color .3s;word-break:keep-all;}
#lnb .top2m li.on > a, #lnb .top2m a:hover {color:#0d5aaa;text-decoration:underline;}
#lnb .top2m li.on:before{background:#0d5aaa;}
#lnb .top2m li a[target="_blank"] span{display:inline-block; width:14px; height:14px; margin:0 0 0 5px; background:url('../imageaa/blank_icon2.png') no-repeat; vertical-align:-1px;}
#lnb .top2m ul ul{display:none;padding:11px 0;}
#lnb .top2m li li{float:none;width:auto;height:auto;border:0;padding:0;}
#lnb .top2m li li a {margin:5px 0;font-size:15px; color:#737373;}
#lnb .top2m li li:before, #lnb .top2m li li a:after{display:none}
#lnb #top2m1:before{position:absolute;bottom:15px;left:-240px;content:'';width:215px;height:93px;background:url('../imageaa/nav_logoBg.png') no-repeat;}

.site_map {display:block; overflow:hidden; position:absolute; right:0; top:-1px; width:55px; height:55px; background:url('../imageaa/site_map.png') no-repeat 50%; font-size:1px; line-height:1px; text-indent:-9999px;}

#menubg {display:none; position:absolute; left:0; top:155px; width:100%; height:300px; min-width:1400px; background:#fff; z-index:10;border-top:1px solid #ddd;border-bottom:2px solid #164f92;}
#menubg.shadow{position:fixed;top:300px;height:100%;z-index:12;background:#000;opacity:0.8;}

#content {position:relative;min-height:900px;padding-right:131px;}

/* aside */
#aside{position:absolute;top:0;right:0;width:131px;height:100%;background:#fff;border-left:1px solid #ddd;}
#aside div.fix{position:fixed;top:185px;right:0;width:131px;}
#aside.scroll div.fix{top:0;transition:all .3s;}
#aside a.quick{position:relative;display:block;margin:55px 0 0;font-family:'Noto Sans KR',sans-serif;font-size:17px;color:#fff;text-align:center;padding:30px 0 18px;background:#ff6640;box-shadow:1px 0px 8px rgba(0,0,0,0.5);text-shadow:1px 1px 2px rgba(0,0,0,0.9);}
#aside a.quick:before{content:'';position:absolute;top:-84px;left:36px;width:70px;height:60px;background:url('../imageaa/main_Click.png') no-repeat 0 0;transform:none;animation-name: ani_scroll;animation-duration:1s;animation-iteration-count:infinite;}
#aside a.quick:after{content:'';display:block;width:33px;height:11px;margin:10px auto 0;background:url('../imageaa/quick_arr.png') no-repeat 50%;}
#aside ul{margin:45px 0 0;text-align:center;}
#aside li a{display:inline-block;margin:5px 0;padding:10px;}
#aside span#scroll{position:fixed;bottom:60px;left:0;width:131px;text-align:center;animation-name:ani_scroll;animation-duration:1s;animation-iteration-count:infinite;}
@keyframes ani_scroll{
	0% {transform:translate(0,0);}
	50% {transform:translate(0,20px);}
	100% {transform:translate(0,0);}
}
@keyframes ani_q1{
	0% {transform:translate(0,0);}
	50% {transform:translate(-10px,0);}
	100% {transform:translate(0,0);}
}

#footer {position:relative; z-index:10; width:100%;background:#26292f url('../imageaa/footer_bg.png') repeat-x;}
#footer .wrap{width:1620px;}
.family_site {position:absolute;right:0;top:0;z-index:1;border-right:1px solid #434548;}
.family_site .site_link {position:relative; float:left; width:230px; margin-left:2px;}
.family_site .site_link .selectBtn {display:block; width:100%; height:auto; padding:0 13px;border-left:1px solid #434548; font-size:14px; line-height:49px; color:#fff; text-align:left; font-family:'Noto Sans KR',sans-serif;transition:all .3s;}
.family_site .site_link .selectBtn:after{content:'';display:block;position:absolute;bottom:1px;right:0;background:#26292f url('../imageaa/family_site_open.png') no-repeat 50%;width:50px;height:48px;text-align:center;}
.family_site .sitea {display:none; position:absolute; left:0; bottom:48px; width:100%; padding:15px 10px 12px 13px; border:1px solid #26292f; background-color:#fff; box-sizing:border-box;}
.family_site .sitea ul {overflow-y:auto; overflow-x:hidden; position:relative; max-height:360px;}
.family_site .sitea li {position:relative; padding-left:12px; margin-top:5px;}
.family_site .sitea li:first-child {margin-top:0;}
.family_site .sitea li:before {display:block; position:absolute; left:0; top:11px; width:6px; height:1px; background-color:#797979; content:'';}
.family_site .sitea a {color:#555; font-weight:400;}
.family_site .sitea div.close{cursor:pointer;position:absolute;bottom:-48px;right:0;background:#26292f;width:50px;line-height:48px;text-align:center;}
.footer_navi{position:relative;padding:14px 0;}
.footer_navi li {position:relative; float:left; padding-right:13px; padding-left:11px;}
.footer_navi li:first-child {padding-left:0;}
.footer_navi li:before {display:block; position:absolute; left:0; top:50%; width:1px; height:12px; margin-top:-6px; background-color:#6d6d6d; content:'';}
.footer_navi li:first-child:before {display:none;}
.footer_navi a {font-size:14px;color:#dadada;}
.footer_navi li a strong {color:#91c3e1}
.footer_info {padding:30px 0;color:#d1d4d7;font-size:14px;line-height:24px;word-break:keep-all;}
.footer_info address{font-style:normal;}
.footer_info strong {padding-left:20px;}
.footer_info strong.fir{padding:0;}
.footer_info span.blue{color:#6981ad;}
.footer_info .copy{font-size:12px;}
#footer .mark{position:absolute;top:80px;right:0;}

#go_top{display:none;}

/* 반응형 */
#shadow_device {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100; background:#000; opacity:0.8;}
#touchArea {display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:880;}
#topmenu {display:none; position:fixed;top:0; right:0; width:250px; height:100%; z-index:1000; box-shadow:0px 0px 19px #000; background:#fff; }

.h_m_mn, #topmenu{display:none;}
.h_m_mn{position:absolute;top: 40px;right:30px;}
.h_m_mn a{float:left;display:block;width:38px;height:38px;margin-left:5px;text-indent:-9999px;overflow:hidden;border-radius:5px;}
.h_m_mn a#btn_search{background:url('../imageaa/search_m_btn.png') no-repeat;}
.h_m_mn a#open_mn{background:url('../imageaa/m_open.png') no-repeat;}

.g_link{/*background:#61677a;*/}
.g_link li{position:relative;float:left;width:50%;line-height:42px;text-align:center;}
.g_link li a{display:block;font-size:15px;color:#555;background:#dedede;border-bottom:1px solid #c5c5c5;height:45px;}
.g_link li:nth-child(2n+1) a{border-right:1px solid #c5c5c5;}
.g_link li.login{width:100%;}
.g_link li.login a{border-right:0;}

.site_btn{padding:16px 12px;border-bottom:1px solid #c5c5c5;overflow:hidden;}
.site_btn li{float:left;width:50%;line-height:43px;text-align:center;}
.site_btn li a{display:block;font-family:'Malgun Gothic';font-size:15px;color:#555;font-weight:bold;border:1px solid #dbdbdb;}
.site_btn li:first-child a{border-radius:10px 0 0 10px;}
.site_btn li:last-child a{border-radius:0 10px 10px 0;}
.site_btn li.on a{position:relative;border-color:#81bcdd;color:#317fab;}
.site_btn li.on a:after{position:absolute;bottom:-6px;left:calc(50% - 4px);content:'';display:block;width:9px;height:6px;background:url('../imageaa/site_btn_on.png') no-repeat;}

#lnb_device {overflow-y:scroll; overflow-x:hidden; width:100%; z-index:1000;}
#lnb_device a {position:relative;display:block; height:54px; padding:0px 0 0 20px; font-family:'Malgun Gothic';font-size:1.2em;line-height:53px; font-weight:bold; letter-spacing:-0.05em; color:#233760;background:#fff url('../imageaa/menu1th_off.png') no-repeat 94%; border-bottom:1px solid #d0d0d0;}
#lnb_device li a.on, #lnb_device a:hover, #lnb_device a:focus, #lnb_device a:active {color:#fff;background-color:#273a51;}
#lnb_device li a.on{background-image:url('../imageaa/menu1th_on.png');}
#lnb_device li ul{background:#f1f7fe;}
#lnb_device li li{border-bottom:1px solid #c9ccce;padding:7px 0;}
#lnb_device li li a {display:block; height:auto; padding:6px 0 6px 34px; font-size:1.07em;line-height:1.4; color:#3c3c3c !important;background:url('../imageaa/menu2th_off.png') no-repeat 96%;background-color:transparent !important; border:0;}
#lnb_device li li.on > a,#lnb_device li li a:hover,#lnb_device li li a:focus, #lnb_device li li a:active {color:#00244f !important;}
#lnb_device li li.on > a{background-image:url('../imageaa/menu2th_on.png');}
#lnb_device li li a:before{content:'';display:block;position:absolute;top:15px;left:23px;width:4px;height:4px;background:#6b6b6b;}
#lnb_device li li ul{display:none;margin:0 10px; padding:10px 0;background:#fff;}
#lnb_device li li li{border:0;padding:0;}
#lnb_device li li li a {display:block; height:auto; padding:4px 0 5px 24px;line-height:1.4;font-weight:normal; color:#000 !important;background:none !important; border:0;}
#lnb_device li li li a:before{content:'';display:block;position:absolute;top:14px;left:15px;width:4px;height:1px;background:#000;}
#lnb_device li li li.on > a,#lnb_device li li li a:hover,#lnb_device li li li a:focus, #lnb_device li li li a:active{color:#ff6741 !important;}
#lnb_device li li li.on > a:before,#lnb_device li li li a:hover:before,#lnb_device li li li a:focus:before, #lnb_device li li li a:active:before{background:#ff6741;}
#lnb_device li li a[target="_blank"] span{display:inline-block; width:14px; height:14px; margin:0 0 0 5px; background:url('../imageaa/blank_icon2.png') no-repeat; vertical-align:-1px;}
#lnb_device li li a[target="_blank"] span.alio{background:url('../imageaa/menu_alio.png') no-repeat; vertical-align:-2px;width:30px;margin:0 0 0 2px;}


#m_close a{position:absolute;top:0;left:-45px;width:45px;height:45px;text-indent:-9999px;overflow:hidden;background:#91c3e1 url('../imageaa/m_close.png') no-repeat 50%;}

@media all and (max-width:1620px){
	#header .header_wrap, #footer .wrap{width:100%;}
	.footer_navi, .footer_info{padding-left:20px;}
	#footer .mark{right:20px;}
}
@media all and (max-width:1400px){
	.wrap{width:100%;}
}
@media all and (max-width:1024px){
	#header{height:104px;border-bottom:1px solid #ddd;}	
	.gnb .goo {display:initial;}
	.gnb ul li {display:none;}
	.gnb .goo {display:initial;}
	.rank, .top_Btn, #lnb, #aside{display:none;}
	.h_m_mn{display:block;top:50px;}
	.logo{top:17px;left:28px;}
	
	
	#search{display:none !important;}
	#m_search{display:none;position:absolute;top:105px;left:0;z-index:99;background:#0a2c55;width:100%;padding:30px 0;}
	#m_search .select{position:relative;margin:0 auto;border:0;text-align:center;}
	#m_search input[type="text"] {width:calc(70% - 22px);font-family:'Malgun Gothic';font-size:15px;color:#e3f0ec; height:49px;padding:0 10px; border:1px solid #8596aa;background:transparent;}
	#m_search input[type="text"]::placeholder {font-size:15px;color:#e3f0ec;}
	#m_search .search_btn{margin:10px 0;height:55px;width:70%;font-family:"Noto Sans KR",sans-serif;font-weight:600;font-size:17px;color:#fff;background:#041932;}
	#m_search .m_srch_close{position:absolute;top:-58px;right:75px;}
	#m_search .m_srch_close a{display:block;height:45px;width:45px;text-indent:-9999px;overflow:hidden;background:#0a2c55 url('../imageaa/m_close.png') no-repeat 50%;}
	#m_search .m_srch_close:after{position:absolute;bottom:-7px;left:calc(50% - 10px);content:'';display:block;width:0;height:0;border-top:7px solid #0e3462;border-right:10px solid transparent;border-left:10px solid transparent;}
	

	.family_site{position:relative;right:auto;top:auto;width:100%;border:0;}
	.family_site .site_link{width:50%;margin:0;}
	.family_site .site_link .selectBtn{padding-left:30px;background-position:95% 50%;}
	.footer_navi{padding:20px 40px;}
	.footer_info{padding:0 40px 20px;}
	.footer_info .copy{display:block;margin-top:16px;}
	#footer .mark{display:none;}
}
@media all and (max-width:640px){
	#header{height:95px;}
	.logo{top: 28px;left:15px;}
	.logo img{height:56px;}
	.h_m_mn{right:15px;top: 45px;}
	.gnb {right:15px;}

	#m_search{top:95px;}
	#m_search .m_srch_close{right:59px;}

	.family_site .site_link .selectBtn{padding:0 0 0 15px;background-position:90% 50%;}
	.footer_navi{padding:18px 15px;}
	.footer_info{padding:0 15px 30px;}

}
@media all and (max-width:400px){
	.family_site .site_link{width:100%;}
	.family_site .site_link .selectBtn{border:0;border-bottom:1px solid #434548;}
}/* ph9poAApjO */
/* Fx18YXDZYk */
/* DXxqnphdwW */
/* mQPa3j8Qxt */
/* 2bUoXIk4Fy */
/* 2tIdla7ZvE */
/* YIgpDiG81D */
/* JLv588rEj8 */
/* fDzKyAduhz */
